alembic==0.9.9
asn1crypto==0.24.0
async-generator==1.10
attrs==18.2.0
backcall==0.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
bleach==3.0.2
boilerpipe3==1.1
certifi==2018.11.29
cffi==1.11.5
charade==1.0.3
chardet==3.0.4
Click==7.0
cloudpickle==0.5.6
cluster==1.4.0
conda==4.5.12
cryptography==2.3.1
cryptography-vectors==2.3.1
cycler==0.10.0
Cython==0.28.5
dask==1.0.0
decorator==4.3.0
dill==0.2.8.2
entrypoints==0.2.3
envoy==0.0.3
facebook-sdk==2.0.0
fastcache==1.0.2
feedparser==5.2.1
Flask==0.12.3
geopy==1.11.0
gmpy2==2.0.8
google-api-python-client==1.6.6
h5py==2.7.1
httplib2==0.12.0
idna==2.8
imageio==2.4.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
JPype1==0.6.3
JPype1-py3==0.5.5.2
jsonschema==3.0.0a3
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterhub==0.9.4
jupyterlab==0.35.4
jupyterlab-server==0.2.0
mailbox==0.4
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==2.1.2
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
nltk==3.2.2
notebook==5.7.2
numexpr==2.6.9
numpy==1.13.3
oauth2client==4.1.3
oauthlib==2.1.0
olefile==0.46
pamela==0.3.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==3.4.2
prettytable==0.7.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycosat==0.6.3
pycparser==2.19
pycurl==7.43.0.2
PyGithub==1.35
Pygments==2.3.1
PyJWT==1.7.1
pymongo==3.6.1
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyrsistent==0.14.8
PySocks==1.6.8
python-dateutil==2.7.5
python-editor==1.0.3
python-instagram==1.3.2
python-oauth2==1.0.1
python3-linkedin==1.0.1
pytz==2018.7
PyWavelets==1.0.1
pyzmq==17.1.2
requests==2.20.0
requests-oauthlib==1.0.0
rsa==4.0
ruamel-yaml==0.15.71
scikit-image==0.13.1
scikit-learn==0.19.2
scipy==1.0.1
Send2Trash==1.5.0
simplejson==3.16.0
simplekml==1.3.0
six==1.12.0
SQLAlchemy==1.2.15
statsmodels==0.8.0
sympy==1.1.1
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
twitter==1.17.1
twitter-text==3.0
uritemplate==3.0.0
urllib3==1.24.1
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
xlrd==1.2.0
