alembic==1.0.9
appdirs==1.4.3
appnope==0.1.0
async-generator==1.10
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
cluster==1.4.1.post2
coverage==4.5.3
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
envoy==0.0.3
facebook-sdk==3.1.0
fake-useragent==0.1.11
feedparser==5.2.1
ftfy==4.4.3
geographiclib==1.49
geopy==1.20.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
goose3==3.1.6
html5lib==1.0.1
httplib2==0.12.3
idna==2.8
importlib-metadata==0.18
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
jieba==0.39
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterhub>=0.9.6
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kiwisolver==1.1.0
lxml==4.3.3
mailbox==0.4
Mako==1.0.9
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
more-itertools==7.0.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==1.11
nltk==3.4.5
notebook==5.7.8
nteract-on-jupyter==2.0.12
numpy==1.16.3
oauth2client==4.1.3
oauthlib==3.0.1
packaging==19.0
pamela==1.0.0
pandas==0.24.2
pandocfilters==1.4.2
parse==1.12.0
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pluggy==0.12.0
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyee==6.0.0
Pygments==2.3.1
pyparsing==2.4.0
pyppeteer==0.0.25
pyquery==1.4.0
pyrsistent==0.15.1
pytest==4.6.3
pytest-cov==2.7.1
python-dateutil==2.8.0
python-editor==1.0.4
python-oauth2==1.1.0
pytz==2019.1
pyzmq==18.0.1
requests==2.21.0
requests-html==0.10.0
requests-oauthlib==1.2.0
rsa==4.0
scikit-learn==0.20.3
scipy==1.3.0
Send2Trash==1.5.0
simplekml==1.3.1
six==1.12.0
soupsieve==1.9.1
SQLAlchemy==1.3.3
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
tqdm==4.32.1
traitlets==4.3.2
twitter==1.18.0
uritemplate==3.0.0
urllib3==1.24.2
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
websockets==7.0
widgetsnbextension==3.4.2
yahoo-fin==0.8.2
zipp==0.5.1
